.navbar {
  background-color: grey;
  padding: 15px;
}

.nav-list {
  display: flex;
  gap: 10px;
  list-style: none;
}

.nav-link {
  text-decoration: none;
  color: white;
}

.table-item {
  background-color: rgb(193, 183, 183);
}

.custom-table {
  border-spacing: 8px;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}
